# VCS
.git
.gitignore

# Node / Next.js
node_modules
.next
out

# Env & local
.env
.DS_Store
.vscode

# Tests & logs
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
build
dist

# Prisma local sqlite (if present)
prisma/social-network.db

